<%-include("partials/header.ejs")-%>
<main class="page-content">
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <hr class="divider offset-lg-top-54" />
      <h5><%= dog.name %></h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <div class="cell-md-12 cell-sm-6">
              <!-- <div class="inset-lg-right-14p"> -->
              <div class="">
                <img
                  class="img-responsive"
                  width="520"
                  height="391"
                  style="margin: auto; margin-bottom: 2%; margin-top: 5%"
                  src="<%= dog.nftpicture %>"
                  alt=""
                />
                <h6 style="color: #313131">Story</h6>
                <!-- <p class="small text-bold">Story: </p> -->
                <p class="small"><%= dog.story %></p>
                <h6 style="color: #313131">Tags</h6>
                <!-- <p class="small text-bold">Story: </p> -->
                <div class="tags-custom">
                  <% if(dog.vaccinated){ %>
                  <span><small class="flex-items">Vaccinated</small></span>
                  <% }if(dog.neutered){ %>
                  <span><small class="flex-items">Neutered</small></span>
                  <% }if(dog.spayed){ %>
                  <span><small class="flex-items">Spayed</small></span>
                  <% } %> <% if(dog.sex){ %>
                  <span><small class="flex-items">Male</small></span>
                  <% }else{ %>
                  <span><small class="flex-items">Female</small></span>
                  <% } %>
                </div>
              </div>
            </div>
            <a
              class="offset-top-20 offset-lg-top-80 btn btn-default"
              style="margin: auto"
              href="<%= dog.nftlink %>"
              >Buy NFT</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="shell shell-wide inset-left-0 inset-right-0">
    <hr class="divider-full" />
  </div>
</main>
<%-include("partials/footer.ejs")-%>
<style>
  .tags-custom {
    display: flex;
    width: 100%;
  }
  .flex-items {
    margin-right: 10px;
    font-size: 15px;
  }
</style>
