<%-include("partials/adminHeader.ejs")-%>
<div style="position: relative; left: 10px">
  <a href="/admin/alldogs">
    <button
      style="position: absolute; left: 0"
      style="left: 100px"
      type="button"
      class="btn btn-primary"
      href="#"
    >
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
  </a>
</div>
<form
  method="post"
  action="/admin/editDog/<%= dog.id %>"
  style="width: 50%; margin: auto"
>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input
      value="<%= dog.name %>"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="Enter Name"
      name="name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Age</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="age"
      style="width: 100%"
      pattern="^[0-9]*$"
      value="<%= dog.age %>"
    />
    <small style="font-size: x-small">Accepts only numbers</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">NFT Link</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="nftlink"
      placeholder="Enter NFT Link"
      value="<%= dog.nftlink %>"
    />
  </div>
  <div class="col-auto my-1">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Select sex</label>
    <select
      name="sex"
      class="custom-select mr-sm-2"
      id="inlineFormCustomSelect"
    >
      <% if(dog.sex){ %>
      <option value="1" selected>Male</option>
      <option value="0">Female</option>
      <% }else{ %>
      <option value="1">Male</option>
      <option value="0" selected>Female</option>
      <% } %>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Story</label>
    <textarea
      name="story"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    >
    <%= dog.story %>
 </textarea
    >
  </div>

  <div class="checkbox-list">
    <div class="form-check flex-items">
      <% if(dog.vaccinated){ %>
      <input
        checked
        name="vaccinated"
        type="checkbox"
        class=""
        id="exampleCheck1"
      />
      <% }else{ %>
      <input name="vaccinated" type="checkbox" class="" id="exampleCheck1" />
      <% } %>

      <label class="form-check-label" for="exampleCheck1">Vaccinated</label>
    </div>

    <div class="form-check flex-items">
      <% if(dog.neutered){ %>
      <input
        checked
        name="neutered"
        type="checkbox"
        class=""
        id="exampleCheck1"
      />
      <% }else{ %>
      <input name="neutered" type="checkbox" class="" id="exampleCheck1" />
      <% } %>
      <label class="form-check-label" for="exampleCheck1">Neutered</label>
    </div>

    <div class="form-check flex-items">
      <% if(dog.spayed){ %>
      <input
        checked
        name="spayed"
        type="checkbox"
        class=""
        id="exampleCheck1"
      />
      <% }else{ %>
      <input name="spayed" type="checkbox" class="" id="exampleCheck1" />
      <% } %>
      <label class="form-check-label" for="exampleCheck1">Spayed</label>
    </div>
    <% if(length < 3){ %> <% if(dog.home){ %>
    <div class="form-check flex-items">
      <input checked name="home" type="checkbox" class="" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">home</label>
    </div>
    <% }else{ %>
    <div class="form-check flex-items">
      <input name="home" type="checkbox" class="" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">home</label>
    </div>
    <% } %> <% }else{ %>
    <div class="form-check flex-items myinp">
      <input disabled name="home" type="checkbox" class="" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">home</label>
      <p id="msg" class="hide">already added three dogs for home</p>
    </div>

    <% } %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- <script>
  document.getElementById("exampleCheck1").addEventListener("mouseover", () => {
    var msg = document.getElementById("msg");
    console.log("Hovered");
    msg.style.display = "block";
  });
  document.getElementById("exampleCheck1").addEventListener("mouseout", () => {
    var msg = document.getElementById("msg");
    console.log("Hovered");
    msg.style.display = "none";
  });
</script> -->
<%-include("partials/footer.ejs")-%>
<style>
  .checkbox-list {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  .flex-items {
    margin-right: 5%;
  }
  input[type="checkbox"] {
    accent-color: #983a42;
    width: 16px;
    height: 16px;
  }
  input::placeholder {
    text-transform: none;
  }

  .form-control {
    text-transform: none;
  }
</style>
